# Data Preprocessing

## Data Source: [Agricultura in Brazil (Kaggle)](https://www.kaggle.com/calvom/agricultura)

Columns:
* ID Provincia          = province_id
* Provincia             = province
* ID Departamento       = department_id
* Departamento          = department
* Id Cultivo	        = crop_id
* Cultivo	            = crop
* ID Campa�a	        = campaign_id
* Campana	            = campaign
* Temperatura (Ce)      = average_temperature (in degrees Celsius)
* Sup. Sembrada (Ha)    = area_sowed (hectars)
* Sup. Cosechada (Ha)   = area_harvested (hectars)
* Producci�n (Tn)       = production (in tons)
* Rendimiento (Kg/Ha)   = performance (kg / ha)
* Calidad               = quality

### Agricultura

In [17]:
import pandas as pd
df = pd.read_csv('../data/raw/agricultura.csv', sep=',', low_memory=False)
df.head()

,ID Provincia,Provincia,ID Departamento,Departamento,Id Cultivo,Cultivo,ID Campa�a,Campana,Temperatura (Ce),Sup. Sembrada (Ha),Sup. Cosechada (Ha),Producci�n (Tn),Rendimiento (Kg/Ha),Calidad
0,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/70,23,3.0,3.0,10,3.333,Alta
1,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,2,1970/71,21,1.0,1.0,3,3.000,Promedio
2,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/70,30,15.0,15.0,82,5.467,Promedio
3,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,2,1970/71,31,10.0,10.0,55,5.500,Alta
4,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,3,1971/72,26,8.0,8.0,44,5.500,Alta

In [18]:
# Rename columns
df.columns = ['province_id', 'province', 'department_id', 'department','crop_id', 'crop', 'year_id', 'year', 'average_temperature','area_sowed', 'area_harvested', 'production','performance', 'quality']
df.columns

Index(['province_id', 'province', 'department_id', 'department', 'crop_id',
       'crop', 'year_id', 'year', 'average_temperature', 'area_sowed',
       'area_harvested', 'production', 'performance', 'quality'],
      dtype='object')

### Translate cultivation and quality columns

In [19]:
df.quality.unique()

array(['Alta', 'Promedio', 'Baja'], dtype=object)

In [20]:
quality_items = ['Alta', 'Promedio', 'Baja']
quality_items_english = {
    'Alta': 'high',
    'Promedio': 'middle',
    'Baja': 'low'
}

for q in quality_items:
    df_q = df[df.quality == q].index
    df.loc[df_q, "quality"] = quality_items_english[q]

In [21]:
df.head()

,province_id,province,department_id,department,crop_id,crop,year_id,year,average_temperature,area_sowed,area_harvested,production,performance,quality
0,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/70,23,3.0,3.0,10,3.333,high
1,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,2,1970/71,21,1.0,1.0,3,3.000,middle
2,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/70,30,15.0,15.0,82,5.467,middle
3,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,2,1970/71,31,10.0,10.0,55,5.500,high
4,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,3,1971/72,26,8.0,8.0,44,5.500,high

In [22]:
df.crop.unique()

array(['Ajo', 'Algodon', 'Alpiste', 'Arroz', 'Avena', 'Banana',
       'Cana de azucar', 'Cartamo', 'Cebada cervecera',
       'Cebada forrajera', 'Cebolla total', 'Centeno', 'Colza', 'Girasol',
       'Jojoba', 'Limon', 'Lino', 'Maiz', 'Mandarina', 'Mani', 'Mijo',
       'Naranja', 'Papa total', 'Pomelo', 'Poroto seco', 'Soja', 'Sorgo',
       'Te', 'Trigo', 'Trigo candeal', 'Tung', 'Yerba mate'], dtype=object)

In [23]:
crop_items = ['Ajo', 'Algodon', 'Alpiste', 'Arroz', 'Avena', 'Banana', 'Cana de azucar', 'Cartamo', 'Cebada cervecera', 'Cebada forrajera', 'Cebolla total', 'Centeno', 'Colza', 'Girasol', 'Jojoba', 'Limon', 'Lino', 'Maiz', 'Mandarina', 'Mani', 'Mijo', 'Naranja', 'Papa total', 'Pomelo', 'Poroto seco', 'Soja', 'Sorgo', 'Te', 'Trigo', 'Trigo candeal', 'Tung', 'Yerba mate']
crop_items_english = {
    'Ajo': 'garlic', 
    'Algodon': 'cotton', 
    'Alpiste': 'birdseed', 
    'Arroz': 'rice', 
    'Avena': 'oat', 
    'Banana': 'banana',
    'Cana de azucar': 'sugar cane', 
    'Cartamo': 'safflower', 
    'Cebada cervecera': 'beer barley',
    'Cebada forrajera': 'fodder barley', 
    'Cebolla total': 'onion', 
    'Centeno': 'rye', 
    'Colza': 'rape seed', 
    'Girasol': 'sunflower',
    'Jojoba': 'jojoba', 
    'Limon': 'lemon', 
    'Lino': 'linen', 
    'Maiz': 'corn', 
    'Mandarina': 'tangerine', 
    'Mani': 'peanut', 
    'Mijo': 'millet',
    'Naranja': 'orange', 
    'Papa total': 'potato', 
    'Pomelo': 'grapefruit', 
    'Poroto seco': 'dry bean', 
    'Soja': 'soy', 
    'Sorgo': 'sorghum',
    'Te': 'tea', 
    'Trigo': 'wheat', 
    'Trigo candeal': 'candelabra wheat', 
    'Tung': 'tung', 
    'Yerba mate': 'yerba mate'
}

for c in crop_items:
    df_c = df[df.crop == c].index
    df.loc[df_c, "crop"] = crop_items_english[c]

### Numeric quality

In [24]:
quality_items = ['low', 'middle', 'high']

for i, q in enumerate(quality_items):
    df_q = df[df.quality == q].index
    df.loc[df_q, "quality_numeric"] = i+1

In [25]:
df.head()

,province_id,province,department_id,department,crop_id,crop,year_id,year,average_temperature,area_sowed,area_harvested,production,performance,quality,quality_numeric
0,6,BUENOS AIRES,854,25 DE MAYO,1,garlic,1,1969/70,23,3.0,3.0,10,3.333,high,3.0
1,6,BUENOS AIRES,854,25 DE MAYO,1,garlic,2,1970/71,21,1.0,1.0,3,3.000,middle,2.0
2,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,garlic,1,1969/70,30,15.0,15.0,82,5.467,middle,2.0
3,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,garlic,2,1970/71,31,10.0,10.0,55,5.500,high,3.0
4,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,garlic,3,1971/72,26,8.0,8.0,44,5.500,high,3.0

## Convert production column to float

In [26]:
df.production = df.production.apply(lambda x: x.replace('.','')).astype('float')

## Recalculate performance

In [27]:
#df["performance_calculated"] = df.production/df.area_harvested
#nan_performance = df[df.performance_calculated.isna()].index
#df.loc[nan_performance, "performance_calculated"] = 0

#df["performance"] = df.production/df.area_harvested
#nan_performance = df[df.performance.isna()].index
#df.loc[nan_performance, "performance"] = 0

## Save cleaned file

In [28]:
df.to_csv('../data/cleaned/agricultura.csv')

In [15]:
df[df.performance > 500].crop.value_counts()

linen               2443
sunflower           2376
rye                 1396
cotton              1289
wheat               1259
oat                 1219
corn                1029
birdseed             828
dry bean             754
fodder barley        715
peanut               468
soy                  441
millet               366
beer barley          351
safflower            273
rape seed            185
sorghum              152
garlic                31
candelabra wheat      24
tung                  17
yerba mate            15
jojoba                10
rice                   7
grapefruit             2
potato                 1
tangerine              1
Name: crop, dtype: int64

In [16]:
df[df.performance_calculated > 80000].crop.value_counts()

orange        977
tangerine     799
lemon         688
grapefruit    590
banana        147
sugar cane     39
Name: crop, dtype: int64

In [137]:
df[df.performance != df.production/df.area_harvested]

,province_id,province,department_id,department,cultivation_id,cultivation,year_id,year,average_temperature,area_sowed,area_harvested,production,performance,quality,quality_numeric,performance_calculated
0,6,BUENOS AIRES,854,25 DE MAYO,1,garlic,1,1969/70,23,3.00,3.00,10.0,3.333,high,3.0,3.333333
2,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,garlic,1,1969/70,30,15.00,15.00,82.0,5.467,middle,2.0,5.466667
9,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,garlic,8,1976/77,25,15.00,15.00,61.0,4.067,high,3.0,4.066667
13,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,garlic,3,1971/72,21,3.00,3.00,11.0,3.667,middle,2.0,3.666667
17,6,BUENOS AIRES,77,ARRECIFES,1,garlic,4,1972/73,28,8.00,7.00,17.0,2.429,high,3.0,2.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132764,54,MISIONES,112,SAN PEDRO,31,yerba mate,40,2008/09,31,5.50,4.80,23760.0,4.950,middle,2.0,4950.000000
132765,54,MISIONES,112,SAN PEDRO,31,yerba mate,41,2009/10,31,5.50,4.80,24480.0,5.100,middle,2.0,5100.000000
132766,54,MISIONES,112,SAN PEDRO,31,yerba mate,43,2011/12,31,5.85,5.15,23175.0,4.500,low,1.0,4500.000000
132767,54,MISIONES,112,SAN PEDRO,31,yerba mate,45,2013/14,31,5.85,4.85,26190.0,5.400,low,1.0,5400.000000
132768,54,MISIONES,112,SAN PEDRO,31,yerba mate,47,2015/16,24,5.85,5.15,22660.0,4.400,low,1.0,4400.000000

In [138]:
df[df.area_harvested == 0]

,province_id,province,department_id,department,cultivation_id,cultivation,year_id,year,average_temperature,area_sowed,area_harvested,production,performance,quality,quality_numeric,performance_calculated
136,6,BUENOS AIRES,140,CAPITAN SARMIENTO,1,garlic,3,1971/72,30,2.0,0.0,0.0,0.0,low,1.0,0.0
137,6,BUENOS AIRES,140,CAPITAN SARMIENTO,1,garlic,4,1972/73,24,2.0,0.0,0.0,0.0,high,3.0,0.0
138,6,BUENOS AIRES,140,CAPITAN SARMIENTO,1,garlic,5,1973/74,21,2.0,0.0,0.0,0.0,middle,2.0,0.0
519,6,BUENOS AIRES,735,SAN ANTONIO DE ARECO,1,garlic,3,1971/72,29,2.0,0.0,0.0,0.0,middle,2.0,0.0
520,6,BUENOS AIRES,735,SAN ANTONIO DE ARECO,1,garlic,4,1972/73,31,3.0,0.0,0.0,0.0,middle,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131745,54,MISIONES,77,LIBERTADOR GENERAL SAN MARTIN,30,tung,6,1974/75,24,10.0,0.0,0.0,0.0,low,1.0,0.0
132356,54,MISIONES,49,GENERAL MANUEL BELGRANO,31,yerba mate,7,1975/76,22,15.0,0.0,0.0,0.0,high,3.0,0.0
132731,54,MISIONES,112,SAN PEDRO,31,yerba mate,4,1972/73,28,4.0,0.0,0.0,0.0,middle,2.0,0.0
132735,54,MISIONES,112,SAN PEDRO,31,yerba mate,8,1976/77,19,4.0,0.0,0.0,0.0,low,1.0,0.0
132736,54,MISIONES,112,SAN PEDRO,31,yerba mate,10,1978/79,26,4.0,0.0,0.0,0.0,high,3.0,0.0